part=xcvu9p-flga2104-2-i

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false

# Source Files
syn.file=../spla_activation.cpp
syn.file=../mitchell_c2.cpp
syn.file=../ieee754_encoder.cpp
syn.top=spla_activation_hls

# Testbench Files
tb.file=../tb_spla_activation.cpp